/* Footer design */
.footer{
  background-color: #333333;
  color: white;
  padding: 30px;

  font-size: 30px;
}

.wrapper-footer{
  text-align: left;
}

.icone {
  color:white;
}

.footer h3{
  font-size: 14px;
}
