<div class="wrapper-footer">
    <div class="footer">
      <div class="footer-content">
        <ul class="list-inline">
          <li>
            <a href=""><i class="fa fa-youtube icone"></i></a>
          </li>
          <li>
            <a href=""><i class="fa fa-instagram icone"></i></a>
          </li>
          <li>
            <a href=""><i class="fa fa-facebook icone"></i></a>
          </li>
          <li>
            <a href=""><i class="fa fa-twitter icone"></i></a>
          </li>
        </ul>
        <h3>This is a Airbnb Home challenge @ LeWagon</h3>
      </div>
    </div>
  </div>
