<!-- HTML output -->
<ul class="list-inline text-center">
  <li>
    <%= image_tag "anne.jpg", class: "img-circle", width: "100px" %>

    <h3>Boris</h3>
  </li>
  <li>
    <%= image_tag "seb.jpg", class: "img-circle", width: "100px" %>
    <!-- <img src="images/seb.png" alt=""> -->
    <h3>Seb</h3>
  </li>
  <li>
    <%= image_tag "romain.jpeg", class: "img-circle", width: "100px" %>
    <!-- <img src="images/romain.png" alt=""> -->
    <h3>Romain</h3>
  </li>
</ul>
